@namespace BlazorDemos.Shared
@inject NavigationManager UriHelper;
@inject IJSRuntime JS


<div class="sf-property-section">
    <div class=@PropertyHeader>
        <b class=@PropertyHeaderText>Properties</b>
        <span class="e-icons e-settings" @onclick="ExpandOrCollapse"></span>
    </div>
    @if (Collapse || isDeviceMode)
    {
        <div class="property-panel-content">
            @ChildContent
        </div>
        <style>
            .property-panel-content {
                margin: 15px;
            }

            .sf-property-section {
                border-left: 1px solid #d7d7d7;
            }
        </style>
    }
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public EventCallback<bool> CollapseChanged { get; set; }
    [Parameter]
    public EventCallback InitialRefresh { get; set; }
    public bool isDeviceMode { get; set; }
    private string? ClassName { get; set; }
    private string PropertyHeader { get; set; } = "sf-property-panel-header-collapsed";
    private string PropertyHeaderText { get; set; } = "Property-panel-title-collapsed";
    [Parameter]
    public string? ControlSecClass { get; set; }
    /// <summary>
    /// Specifies whether the propery panel is in expanded state or not.
    /// </summary>
    public bool Collapse { get; set; } = false;

    public async Task ExpandOrCollapse()
    {
        if (Collapse)
        {
            await JS.InvokeAsync<bool>("adjustPropertyPanelWidth", true);
            PropertyHeader = "sf-property-panel-header-collapsed";
            PropertyHeaderText = "Property-panel-title-collapsed";
            await JS.InvokeAsync<bool>("adjustControlSectionWidth", ControlSecClass, true);
        }
        else
        {
            await JS.InvokeAsync<bool>("adjustControlSectionWidth", ControlSecClass, false);
            PropertyHeaderText = "Property-panel-title";
            PropertyHeader = "sf-property-panel-header";
            await JS.InvokeAsync<bool>("adjustPropertyPanelWidth", false);
        }
        await TriggerEvent();
    }

    public async Task TriggerEvent()
    {
        Collapse = !Collapse;
        await CollapseChanged.InvokeAsync(Collapse);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            isDeviceMode = await this.JS.InvokeAsync<bool>("sfBlazorSB.isDeviceMode");
            if (isDeviceMode)
            {
                PropertyHeaderText = "Property-panel-title";
                StateHasChanged();
            }
            else
            {
                await JS.InvokeVoidAsync("adjustLeftPanelWidth", ControlSecClass, true, true);
                await InitialRefresh.InvokeAsync();
            }
        }
    }


}